//- feed.pug
//- includes/navbar.pug
//- includes/preamble.pug

html
    include preamble
    body
        h1(align='center', class='display-1') 404 - Page Not Found
        h3(align='center', class='p-3') Uh, oh! You went to the wrooooong page!
        h3(align='center', class='p-3') Click to find out
            a(href="/whats-hot")
                button.btn.btn-outline-primary.p-3.m-3 What's Hot