//- navbar.pug

mixin navButton(dest, label)
  a(class='nav-link', href=dest)
    button(type='button').btn.btn-outline-primary.w-100.text-start #{label}

nav(class='nav flex-column p-3')
  +navButton('/home', 'Home')
  +navButton('/whats-hot', 'What\'s Hot')