//- navbar.pug

mixin search()
  form(action='/search' method='post')
    input(name='term' type='text' placeholder='Search').form-control.w-100

mixin navButton(dest, label)
  form(action='/search', method='post')
    a(class='nav-link', href=dest).w-100.m-0.p-0
      button(type='button').btn.btn-outline-primary.w-100.text-start #{label}

mixin navbar(searchTerms)
  .nav.flex-column.p-3
    +search()
    +navButton('/whats-hot', 'What\'s Hot')
    each term in searchTerms
      form(action='/search', method='post')
        input(type='hidden', name='term', value=term)
        button(type='submit').btn.btn-outline-primary.w-100.text-start #{term}